@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

.light-theme {
  background-color: #fff;
  color: #2f2c42;
}

.dark-theme {
  background-color: #302c42;
  color: #fff;
}

.contact-gradient {
  border-radius: 90px;
  background: radial-gradient(
    2900.76% 50.13% at 50% 53.89%,
    rgba(58, 52, 86, 0.95),
    rgba(33, 30, 46, 1)
  );
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.why-hydra-gradient {
  border-radius: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
}

.form-gradient {
  border-radius: 100px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-gradient {
  background: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.burger-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
}

.button-gradient {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
